body {
    background: $white;
    font-family: $droid;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
section {
    padding-top: 50px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    overflow: hidden;
    max-width: 960px;
    width: 100%;
    margin: 10px auto; 
}